{%- macro responsive(base, alt, lcp=false) -%}
<picture>
  <source type="image/avif"
          srcset="{{ get_url(path=base ~ '-320.avif', cachebust=true) }} 320w,
                  {{ get_url(path=base ~ '-640.avif', cachebust=true) }} 640w,
                  {{ get_url(path=base ~ '-960.avif', cachebust=true) }} 960w,
                  {{ get_url(path=base ~ '-1280.avif', cachebust=true) }} 1280w,
                  {{ get_url(path=base ~ '-1920.avif', cachebust=true) }} 1920w"
          sizes="240px">
  <source type="image/webp"
          srcset="{{ get_url(path=base ~ '-320.webp', cachebust=true) }} 320w,
                  {{ get_url(path=base ~ '-640.webp', cachebust=true) }} 640w,
                  {{ get_url(path=base ~ '-960.webp', cachebust=true) }} 960w,
                  {{ get_url(path=base ~ '-1280.webp', cachebust=true) }} 1280w,
                  {{ get_url(path=base ~ '-1920.webp', cachebust=true) }} 1920w"
          sizes="240px">
  <img {%- if lcp -%} loading="eager" {%- else -%} loading="lazy" {%- endif -%}
       decoding="async"
       width="1920" height="1080"
       src="{{ get_url(path=base ~ '-640.webp', cachebust=true) }}"
       alt="{{ alt | escape }}">
</picture>
{%- endmacro -%}
