{%- macro translate(key, i18n="", default="") %}
{{- i18n[key] | default(value=default) | safe -}}
{%- endmacro %}

{# NEW GENERIC MACRO TO DISPLAY METADATA #}
{%- macro display_metadata(page, config, meta_config) -%}
  {# Load current language i18n data from .toml files in user's '/i18n' folder, use theme as fallback. #}
  {%- set i18n = load_data(path="i18n/" ~ lang ~ '.toml', required=false) -%}
  {%- if not i18n -%}{%- set i18n = load_data(path="i18n/en.toml", required=false) -%}{%- endif %}

  <span{%- if meta_config.size %} class="{{ meta_config.size }}"{% endif %}>
    {#- Author #}
    {%- if page.taxonomies.authors and config.taxonomies %}
      {%- for author in page.taxonomies.authors %}
        {%- if author_flag %}, {% endif %}
        <a href="{{ get_taxonomy_url(kind='authors', name=author) | safe }}">{{ author }}</a>
        {%- set_global author_flag = true %}
      {%- endfor %}
    {%- elif page.extra.authors and meta_config.author %}
      {%- if config.extra.icon_author %}<i class="{{ config.extra.icon_author }}"></i> {% endif %}
      {%- for author in page.extra.authors %}
        {%- if author_flag %}, {% endif %} {{ author }}
        {%- set_global author_flag = true %}
      {%- endfor %}
    {%- elif config.extra.author and meta_config.author %}
      {%- if config.extra.icon_author %}<i class="{{ config.extra.icon_author }}"></i> {% endif %} {{ config.extra.author }}
    {%- endif %}

    {#- divider #}
    {%- if meta_config.author and (meta_config.readtime or meta_config.date or meta_config.updated or meta_config.categories_tags) %}
      {%- if meta_config.divider %}<span class="hpad">{{ meta_config.divider | safe }}</span>{%- else %} <span class="rpad"></span>{%- endif %}
    {%- endif %}

    {#- ReadTime #}
    {%- if meta_config.readtime %}
      {%- if config.extra.icon_read %}<i class="{{ config.extra.icon_read }}"></i> {% endif %} {{ page.reading_time }} {{ meta_config.readstring | default(value="min") }}
      {#- divider #}
      {%- if meta_config.date or meta_config.updated or meta_config.categories_tags %}
        {%- if meta_config.divider %}<span class="hpad">{{ meta_config.divider | safe }}</span>{%- else %} <span class="rpad"></span>{%- endif %}
      {%- endif %}
    {%- endif %}

    {#- Date #}
    {%- if meta_config.date %}
      {%- if config.extra.icon_date %}<i class="{{ config.extra.icon_date }}"></i> {% endif %}
      {%- set lang_locale = self::translate(key='date_locale', default='en_US', i18n=i18n) -%}
      {%- set page_date = page.date | date(format="%B %d, %Y", locale=lang_locale) -%}
      {%- if page_date %} {{ page_date }} {%- else %} {{ page.date | date(format="%B %d, %Y") }} {%- endif %}
      {#- divider #}
      {%- if meta_config.updated or meta_config.categories_tags %}
        {%- if meta_config.divider %}<span class="hpad">{{ meta_config.divider | safe }}</span>{%- else %} <span class="rpad"></span>{%- endif %}
      {%- endif %}
    {%- endif %}

    {#- Updated #}
    {%- if meta_config.updated and page.updated %}
      {%- if config.extra.icon_date %}<i class="{{ config.extra.icon_date }}"></i> {% endif -%}
      {{ self::translate(key="Updated", default="Updated", i18n=i18n) }}:
      {%- set lang_locale = self::translate(key='date_locale', default='en_US', i18n=i18n) -%}
      {%- set page_updated = page.updated | date(format="%B %d, %Y", locale=lang_locale) -%}
      {%- if page_updated %} {{ page_updated }} {%- else %} {{ page.updated | date(format="%B %d, %Y") }} {%- endif %}
      {#- divider #}
      {%- if meta_config.categories_tags %}
        {%- if meta_config.divider %}<span class="hpad">{{ meta_config.divider | safe }}</span>{%- else %} <span class="rpad"></span>{%- endif %}
      {%- endif %}
    {%- endif %}

    {#- Categories #}
    {%- if page.taxonomies.categories %} {%- if config.extra.icon_info %}<i class="{{ config.extra.icon_info }}"></i> {% endif %} [{% for cat in page.taxonomies.categories %}<a href="{{ get_taxonomy_url(kind='categories', name=cat, lang=lang) | safe }}">{{ cat }}</a>{%- if not loop.last %}, {% endif %}{% endfor %}]{% endif %}

    {#- Tags #}
    {%- if page.taxonomies.tags %} {%- for tag in page.taxonomies.tags %} #<a href="{{ get_taxonomy_url(kind='tags', name=tag, lang=lang) | safe }}">{{ tag }}</a> {% endfor %}{%- endif %}
  </span>
{%- endmacro display_metadata %}

{%- macro title_post(page, config) %}
      <h1 class="page-title">{{ page.title | markdown(inline=true) | safe }}</h1>
{%- endmacro title_post %}

{# REFACTORED meta_post MACRO #}
{%- macro meta_post(page, config) %}
  {{ self::display_metadata(page=page, config=config, meta_config=config.extra.meta_post) }}
{%- endmacro meta_post %}

{%- macro footer(page, config) %}
      {#- prev/next content page nextprev title pagination #}
      {%- if not config.extra.hide_page_nextprev_titles | default(value=false) %}
      {%- if page.lower or page.higher %}
      <nav aria-label="Adjacent page navigation">
        <div>
          {%- if page.lower %}
          <a href="{{ page.lower.permalink | safe }}">&#8249; {{ page.lower.title | truncate(length=100) | markdown(inline=true) | safe }}</a>
          {%- endif %}
        </div>
        <div>
          {%- if page.higher %}
          <a href="{{ page.higher.permalink | safe }}"> {{ page.higher.title | truncate(length=100) | markdown(inline=true) | safe }} &#8250;</a>
          {%- endif %}
        </div>
      </nav>
      {%- endif %}
      {%- endif %}
{%- endmacro footer %}
