<picture>
  <source type="image/avif"
          srcset="{{ get_url(path=base ~ '-256.avif', cachebust=true) }} 256w,
                  {{ get_url(path=base ~ '-320.avif', cachebust=true) }} 320w,
                  {{ get_url(path=base ~ '-512.avif', cachebust=true) }} 512w,
                  {{ get_url(path=base ~ '-640.avif', cachebust=true) }} 640w,
                  {{ get_url(path=base ~ '-960.avif', cachebust=true) }} 960w,
                  {{ get_url(path=base ~ '-1280.avif', cachebust=true) }} 1280w,
                  {{ get_url(path=base ~ '-1920.avif', cachebust=true) }} 1920w"
          sizes="70px">
  <source type="image/webp"
          srcset="{{ get_url(path=base ~ '-256.webp', cachebust=true) }} 256w,
                  {{ get_url(path=base ~ '-320.webp', cachebust=true) }} 320w,
                  {{ get_url(path=base ~ '-512.webp', cachebust=true) }} 512w,
                  {{ get_url(path=base ~ '-640.webp', cachebust=true) }} 640w,
                  {{ get_url(path=base ~ '-960.webp', cachebust=true) }} 960w,
                  {{ get_url(path=base ~ '-1280.webp', cachebust=true) }} 1280w,
                  {{ get_url(path=base ~ '-1920.webp', cachebust=true) }} 1920w"
          sizes="70px">
  <img {% if lcp %}loading="eager"{% else %}loading="lazy"{% endif %}
       decoding="async"
       width="200" height="200"
       src="{{ get_url(path=base ~ '-640.jpg', cachebust=true) }}"
       alt="{{ alt | escape }}">
</picture>
